<h1>Effin' bot</h1>

<a href="https://github.com/vanakenm/effinbot"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>

<a href="https://slack.com/oauth/authorize?scope=commands&client_id=12060783617.285877762837"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>

<p>A Slack bot that allows you to answer to coworkers using supportive messages right from the <a href="https://twitter.com/effinbirds">effin' birds</a> mouths</p>

<p>It adds a single <pre>/effin</pre> command to your workspace. Any words put after will be used to find an appropriate image to show. If none match, a random one will be selected.</p>

<%= image_tag("effinbot-1.gif") %>

<p>Typing <pre>/effin help</pre> will get you a short explanation. If you lack inspiration, just type <pre>/effin words</pre> and some random words will be proposed.</p>

<p>Thanks to <a href="https://twitter.com/aaronreynolds" target="_blank">Aaron Reynolds</a> for creating Effin' Birds and allowing me to create this and to <a href="https://twitter.com/Boejurt">Joe</a> for outstanding support.</p>

<p>Created by <a href="https://twitter.com/martinvanaken">Martin</a> - let me know if you find any problem</p>

<p>Lacking ideas? Here are some words from the birds:</p>

<%= image_tag("cloud.png") %>