<h1>Effin Quotes</h1>

<table class="table table-striped">
  <tbody>
    
  <% @quotes.each do |quote| %>
    <tr>
      <td>
        <%= link_to quote.id, quote %>
      </td>
      <td>
        <%= quote.contents %>
      </td>
      <td>
        <%= quote.url %>
      </td>
      <td>
        <%= quote.twitter_url %>
      </td>
    </tr>
  <% end %>
  </tbody>  
</table>
