<h1>Privacy policy</h1>

<p>I'm collecting logs for two reasons - support and showing some examples of quotes generated at http://www.effinbot.com/status.</p>
<p>I'm not storing any identifiable information such as user or workspace. I keep track of the number of different workspaces using the app, but those names are hashed and so not possible (even for me) to retreive.</p>
<p>You can double check the claims above by looking at the code, available on <a href="https://github.com/vanakenm/effinbot">GitHub</a> under a MIT licence.</p>