<h1>Support</h1>

<p>Hopefully you don't need any, but any feedback, critiscism or feature request can be send on the <a href="https://github.com/vanakenm/effinbot">GitHub</a> issue tracker</p>
<p>I'm also mostly available on <a href="https://twitter.com/martinvanaken">Twitter</a></p>
<p>You can also join me at <a href="mailto:martin@joyouscoding.com">martin@joyouscoding.com</a></p>